################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Xenophyte-Website/FileContentIndex/61cc58a1-ace1-449a-8df3-f63b99c53e95.vsidx
/.vs/Xenophyte-Website/v17/.wsuo
/.vs/Xenophyte-Website/v17/DocumentLayout.json
/.vs/Xenophyte-Website/FileContentIndex/09838f39-65cd-497c-a20e-18a187866b74.vsidx
